@use "../../partials/mixins.scss" as *;
@use "../../partials/color-palette.scss" as *;

.search-image {
	display: flex;
	justify-content: center;
	align-items: center;
	min-height: 100vh;

	&__upload {
		display: flex;
		gap: 1rem;
		padding: 1rem;
	}

	&__upload-input {
		display: none;
	}

	&__upload-button {
		@include button-styling;
		display: flex;
		justify-content: center;
		align-items: center;
		font-size: 1.5rem;
		width: 8rem;
		height: 3rem;
		cursor: pointer;

		&:hover {
			background: $primary-green;
		}
	}
}