@use "./color-palette.scss" as *;

@mixin no-select {
	-webkit-touch-callout: none; /* iOS Safari */
    -webkit-user-select: none; /* Safari */
    khtml-user-select: none; /* Konqueror HTML */
    -moz-user-select: none; /* Old versions of Firefox */
    -ms-user-select: none; /* Internet Explorer/Edge */
    user-select: none; /* Non-prefixed version, currently supported by Chrome, Edge, Opera and Firefox */
}

@mixin button-styling {
	@include no-select;
	border: none;
	color: $white;
	border-radius: 5px;
	background: $secondary-green;

	&:hover {
		background: $primary-green;
	}
}

@mixin link-button-styling {
	@include no-select;
	border: none;
	color: $white;
	border-radius: 5px;
	background: $secondary-green;
	display: flex;
	justify-content: center;
	align-items: center;

	& > a {
		height: fit-content;
	}

	&:hover {
		background: $primary-green;
	}
}

@mixin alt-link-button-styling {
	@include no-select;
	border: none;
	color: $primary-green;
	border-radius: 5px;
	display: flex;
	justify-content: center;
	align-items: center;

	& > a {
		height: fit-content;
	}

	&:hover {
		color: black;
	}
}

@mixin input-styling {
	border: none;
}